.basic-layout {
  min-height: 100vh;
  .header-area {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    color: white;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 765px) {
      padding: 0 10px;
    }
    .header-left {
      display: flex;
      align-items: center;
      .site-logo {
        width: 40px;
        height: 40px;
      }
      .site-name {
        margin-left: 10px;
        font-weight: bold;
        font-size: 24px;
      }
    }
    .header-right {
      display: flex;
      align-items: center;
      list-style: none;
      height: 100%;
      li {
        &.login-info {
          color: white;
          .log-in,
          .log-out {
            color: white;
          }
          .vertical-divider {
            border-left-color: white;
          }
        }
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
  .body-area {
    min-height: calc(100vh - 65px);
    .body-left {
      .menu {
        position: sticky;
        top: 65px;
      }
    }
    .body-right {
      .main-content {
        display: flex;
        flex-direction: column;
      }
      .footer {
        text-align: center;
        .copyright {
          margin: 0 5px;
        }
      }
    }
  }
}
