// 在 .babelrc 中我们在 @babel/preset-env 下配置了 module: false ，目的在于不要将 import 和 export 关键字处理成 commonJS 的模块导出引入方式，比如 require ，这样的话才能支持 tree-shaking
{
  "presets": [
    ["@babel/preset-env", { "modules": false, "useBuiltIns": "usage", "corejs": "3.1.2" }],
    "@babel/preset-typescript",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "react-hot-loader/babel"
  ]
  // "env": {
  //   "development": {
  //     "plugins": ["react-hot-loader/babel"]
  //   }
  // }
}

// npm install babel-plugin-import --save-dev
// antd默认支持按需导入
// "plugins": [
//   ["import", { "libraryName": "antd", "libraryDirectory": "lib","style": true}, "antd"],
//   ["import", { "libraryName": "antd-mobile", "libraryDirectory": "lib"}, "antd-mobile"]
// ]
