.root {
  margin-top: 16px;
  display: flex;
  .article-reply {
    background: white;
    padding: 20px;
    flex: 1;
    min-width: 0;
    .article {
      .title {
        font-size: 30px;
        text-align: center;
      }
      .catalog {
        font-weight: bold;
        text-align: center;
      }
      .abstract {
        color: #999999;
        margin: 2em 5em;
        text-indent: 2em;
      }
      .cover {
        display: block;
        max-width: 100%;
      }
    }
    .reply {
      margin-top: 20px;
      .comment-btn {
        text-align: right;
        margin-top: 20px;
      }
    }
    .rich-text-container {
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      img,
      audio,
      video {
        max-width: 100%;
        height: auto;
      }
      p {
        white-space: pre-wrap;
        min-height: 1em;
        margin: 1em 0;
        text-indent: 2em;
      }
      pre {
        padding: 15px;
        background-color: #f1f1f1;
        border-radius: 5px;
      }
      blockquote {
        margin: 0;
        padding: 15px;
        background-color: #f1f1f1;
        border-left: 3px solid #d1d1d1;
      }
      a[href$='#mention'] {
        text-decoration: none;
        font-weight: bold;
        color: #58f;
      }
    }
  }
  .author-recommend {
    background: white;
    padding: 16px;
    width: 300px;
    flex-shrink: 0;
    margin-left: 16px;
  }
}
